* { box-sizing: border-box; }
body {  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: linear-gradient(to bottom, #7eb381, #FFFFFF);
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #000000;
        font-size: 1em;
}
main {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    padding-bottom: 0em;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 1em;
}

header {
        background-color: #00441a;
        padding: 1.5em;
        text-align: center;
        
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

nav {
 margin: 0;
    border: none;
    font-size: 1.2em;
    text-align: center;
    background-color: #088022;
}

header a:link {
    color:#000000;
}
header a:hover {
    color:#000000;
}
header a:visited {
    color:#000000;
}

nav a:link {
    color:#000000;
}
nav a:hover {
    color:#000000;
}
nav a:visited {
    color:#000000;
}

footer {
        text-align: center;
        font-size: .70em;
        font-style: italic;
        padding: 3em;
}

#wrapper {
    min-height: 100vh;
    width: 80%;
    margin:auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
      padding-left: .5em;
      padding-right: .5em;
}

table { margin: auto;
        border: 1px solid #000000;
        width: 10%;
        text-align: center;
        border-collapse: collapse;
}

td, th 
{
      padding: 15px;
      border: 1px solid #033507;
}
td
{
      text-align: center;
}
.text
{
      text-align: center;
}
tr:nth-of-type(odd) { background-color: #8ab378;}